h1 {
    margin: 20px 0 0 0;
    font-size: 4rem;
    color: #ffb545;
}
h2{
    font-size: 3rem;
}
.left-column{
    display: flex;
    min-height: 60vh;
    align-items: center;
}

.right-column{
    display: flex;
    justify-content: center;
    max-width: 500px;
}
.right-column img{
    align-self: center;
    width: 40vw;
}

@media (max-width: 768px){
    .right-column img{
    width: 100vw;
}
.right-column{
    height: 100vh;
}
}