h1{
    color: #ffb545;
}
.top-body-header{
    margin-top: -150px;
    padding-top: 150px;
    padding-bottom: 20vh;
    min-height: 400px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}
.top-body-header .h-text{
    flex-basis: 100%;
}

.top-body-header .sub-text{
    width: 60%;
}

.porfolio-images {
    padding: 0;
    margin: 0;
}

.porfolio-images img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    margin-bottom: 6px;
}
@media (max-width: 992px) {
    .top-body-header{
        padding-bottom: 30vh;
    }
    .top-body-header .sub-text{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .top-body-header{
        padding-bottom: 30vh;
    }
}
@media (max-width: 576px) {
    .porfolio-images img{
        height: 300px;
        width: 100vw;
        object-fit: cover;

    }
}
